body {
  background-image:url(https://c1.staticflickr.com/9/8336/8144344750_51e690548c.jpg);
}
#background {
  background-color: #ffab40;
  padding-top: 20px;
}
#input1 {
  border: 2px solid teal;
  border-radius: 4px;
  background-color: #eceff1;
  color:
}
#input2 {
  border: 2px solid teal;
  border-radius: 4px;
  background-color: #eceff1;
  color:
}
#solution {
  border: 2px solid teal;
  border-radius: 4px;
  background-color: #eceff1;
  color:
}
